[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.11b1"
flake8 = "*"
importlib-metadata = "*"
pytest = "*"
pytest-mock = "*"
twine = "*"

[packages]
requests = "<3"
