[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "<6"
importlib-metadata = "*"
pytest = "*"
pytest-mock = "*"
twine = "*"

[packages]
requests = "<3"
typing-extensions = "*"
exceptiongroup = "*"
